/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*DEFAULT VALUES:*/
$mainFont: 'Helvetica Neue';
$navHeight: 81px;

body {
  font-family: $mainFont;
  font-weight: 100;
  background-image: url('lock1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: $navHeight 0;
}

#logo {
  font-family: $mainFont;
  font-size: 5em;
  font-weight: 100;
}

.btn-default {
  margin: 2px 0;
  width: 100%;
  border: 2px solid black;
  background-color: rgba(255,255,255,0.2);
  font-weight: 100;
}

#sign-in {
  background-color: rgba(255,255,255,0);
}
div.button-container {
  padding: 0 1px;
}